video:
    resource: "@VideoBundle/Controller/"
    type:     annotation
    prefix:   /

utilisateur:
    resource: "@UtilisateurBundle/Controller/"
    type:     annotation
    prefix:   /

user_login:
    path: /login
    defaults: { _controller: UtilisateurBundle:User:showLogin}

user_modify:
    path: /modify
    defaults: { _controller: UtilisateurBundle:User:modifyUser}

sign_up:
    path: /signup
    defaults: { _controller: UtilisateurBundle:User:signUp}

index:
    path: /
    defaults: { _controller: UtilisateurBundle:Default:index }

index1:
    path: /index
    defaults: { _controller: UtilisateurBundle:Default:index }

admin:
    path: /admin
    defaults: { _controller: UtilisateurBundle:User:adminUser}

delete:
    path: /delete/{id}
    defaults: { _controller: UtilisateurBundle:User:delete}

edit:
    path: /edit/{id}
    defaults: { _controller: UtilisateurBundle:User:edit}